{% extends 'base.html' %}
{% block content %}
<div class="container jumbotron">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <img src="./static/photos/coverpic.jpg" class="cover"/>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Poetry is the medicine to the soul</h4>
            </div>
            <div class="panel-body">
                    <p>Do you ever wake up in the middle of the night to right something?</p>
                    <p>Do you ever feel like opening up somewhere without anyone to judge?</p>
                    <p>Well thats how I started my poetry journey</p>
                    <p>Everyone needs a friend and having somewhere to write and rant about your issues could be the best place.
                    Well, lets walk together in this journey and learn much much more.
                    </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <i>Pure mathematics is, in its way, the poetry of logical ideas.</i>
            </div>
            <div class="panel-footer">
                <i>Albert Einstein</i>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <i>Poetry is when an emotion has found its thought and the thought has found words.</i>
            </div>
            <div class="panel-footer">
                <i> Robert Frost</i>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <i>Painting is silent poetry, and poetry is painting that speaks.</i>
            </div>
            <div class="panel-footer">
                <i>Plutarch</i>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
    </div>
    <div class="jumbotron" style="background-color:black; color:aliceblue; font-size:20px; ">
            <div class="row" style="padding-top:5%">
                    <div class="col-md-2 col-lg-2"></div>
                    <div class="col-md-4 col-lg-4">
                        <p>&copy; Copyright 2018 <a href="VickyMutai@github.com">Victoria Mutai</a></p>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <p>Contact me at: <a href="mailto:vicky.mutai@gmail.com">My Email</a></p>
                        <p>Phone Number: 0716889165</p>
                    </div>
                    <div class="col-md-2 col-lg-2"></div>
                </div>
            </div>
</div>

{% endblock %}
