<!--display blog in macros-->
{% macro displayBlog(blog_list) %}
    {% for blog in blog_list %}
        <h3><a href="/blog/{{blog.id}}">{{blog.title}}</a></h3>
        <p>Posted on: {{blog.timestamp}}</p>
    {% endfor %}
{% endmacro %}

{% macro displayComments(comment_list) %}
{% for comment in comment_list %}
<div class="row col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <p>Author name: <i>{{ comment.name }}</i></p>
        </div>
        <div class="panel-body">
            <p>{{ comment.comment_body}}</p>
        </div>
        <div class="panel-footer">
            <i>{{comment.timestamp}}</i>
        </div>
    </div>
</div>

{% endfor %}
{% endmacro %}
